<div class="boletin">
  <button type="button" class="btn btn-primary">
    <img src="../../../assets/arrow1.png" /> HOME
  </button>
  <div class="content">
    <br />
    <form [formGroup]="formBoletin" (ngSubmit)="sendBoletin()">
      <label for="h1">Titulo H1</label>
      <input
        id="h1"
        type="text"
        formControlName="tituloh1"
        class="form-control"
        required
      />
      <br />
      <label for="texto1">Texto 1</label>
      <textarea
        id="texto1"
        rows="4"
        type="text"
        formControlName="texto1"
        class="form-control"
        required
      ></textarea>
      <br />
      <label for="h1">Subtitulo H2</label>
      <input
        id="h2"
        type="text"
        class="form-control"
        formControlName="subtituloh2"
        required
      />
      <br />
      <label for="texto1">Texto 2</label>
      <textarea
        id="texto2"
        rows="4"
        type="text"
        formControlName="texto2"
        class="form-control"
        required
      ></textarea>
      <br />
      <label for="h1">Subtitulo H3</label>
      <input
        id="h3"
        type="text"
        formControlName="subtituloh3"
        class="form-control"
        required
      />
      <br />
      <label for="texto1">Texto 3</label>
      <textarea
        id="texto3"
        rows="4"
        type="text"
        formControlName="texto3"
        class="form-control"
        required
      ></textarea>
      <br />
      <br />
      <span [style]="{ color: message.color, 'font-size': '20px' }">{{
        message.message
      }}</span>
      <div style="display: flex; justify-content: end; width: 100%">
        <button
          type="submit"
          class="btn btn-secondary"
          [disabled]="!formBoletin.valid"
        >
          GUARDAR
        </button>
      </div>
      <br />
      <div class="content">
        <form [formGroup]="formImg" (ngSubmit)="sendimg()">
          <label for="Image">Imagen Seccion 3</label>
          <input
            type="file"
            id="Image"
            class="form-control"
            formControlName="img"
            (change)="onFileSelected($event)"
            accept="image/*"
            required
          />
          <br />
          <span [style]="{ color: messageimg.color, 'font-size': '20px' }">{{
            messageimg.message
          }}</span>
          <div style="display: flex; justify-content: end; width: 100%">
            <button
              type="submit"
              class="btn btn-secondary"
              [disabled]="!formImg.valid"
            >
              Guardar imagen
            </button>
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
