<app-header></app-header>
<div class="contenedor">
  <section id="uno" class="container">
    <div class="description">
      <h1>
        Recibe y gestiona el cariño de tus seguidores para seguir creando y
        contribuyendo al mundo.
      </h1>
      <br />
      <h2>
        "La gratitud es uno de los sentimientos más poderosos que puedes
        experimentar, y compartirlo es un privilegio que llena el alma de
        alegría en quien lo da y en quien lo recibe."
      </h2>
      <br />
    </div>
    <div class="caroousel">
      <ngb-carousel *ngIf="carousel">
        <ng-template ngbSlide *ngFor="let card of usersE">
          <div class="picsum-img-wrapper">
            <div class="cardHome">
              <div class="box" style="width: 100%">
                <div class="contentbox" style="text-align: center">
                  <i
                    class="bi bi-heart-fill"
                    style="color: #f36a6a; font-size: 28px; text-align: center"
                  ></i>
                  <p style="color: #a07260; font-size: 22px">{{card.num}}</p>
                </div>
                <div></div>
                <div></div>
              </div>
              <div style="width: 100px">
                <img
                  [src]="card.imgpro.filePath || '../../../assets/default.png'"
                  style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"
                />
              </div>
              <br />
              <h4
                style="
                  color: #a07260;
                  width: 355px;
                  text-align: center;
                  padding: 0 20px;
                  font-size: 26px;
                  font-weight: 600;
                "
              >
                {{ card.name }}
              </h4>
              <div style="border-top: 1px solid #a07260; width: 150px"></div>
              <br />
              <span style="color: #a07260; text-align: center;">{{ card.profesion }}</span>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
      <!-- <button type="button" class="btnScroll left" (click)="scrollLeft()">
        <i class="bi bi-chevron-left"></i>
      </button>
      <div class="scrollCarousel">
        <div class="cardHome" *ngFor="let card of usersE">
          <div class="box" style="width: 100%">
            <div class="contentbox" style="text-align: center">
              <i
                class="bi bi-heart-fill"
                style="color: #f36a6a; font-size: 28px; text-align: center"
              ></i>
              <p style="color: #a07260; font-size: 22px">1200</p>
            </div>
            <div></div>
            <div></div>
          </div>
          <div style="width: 100px">
            <img
              [src]="card.imgpro.filePath || '../../../assets/default.png'"
              style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;"
            />
          </div>
          <br />
          <h4
            style="
              color: #a07260;
              width: 355px;
              text-align: center;
              padding: 0 20px;
              font-size: 26px;
              font-weight: 600;
            "
          >
            {{ card.name }}
          </h4>
          <div style="border-top: 1px solid #a07260; width: 150px"></div>
          <br />
          <span style="color: #a07260">{{ card.titulo }}</span>
        </div>
      </div>
      <button type="button" class="btnScroll right" (click)="scrollRight()">
        <i class="bi bi-chevron-right"></i>
      </button> -->
    </div>
  </section>
  <section id="dos" class="container">
    <div class="des">
      <h3>Crea tu propio <span>link de gratitud</span></h3>
      <p>
        Cualquiera que sea la forma en que le contribuyas al mundo, siempre
        habrá alguien que lo reconozca y quiera agradecértelo con palabras de
        cariño y/o donar a tu labor. <br />
        <br />
        Crea una cuenta y facilita a tu audiencia el bello proceso de dar y
        recibir en gratitud.
      </p>
    </div>
    <div class="btn-crear">
      <button class="btn btn-primary" type="button" routerLink="/register">
        CREAR CUENTA
      </button>
    </div>
  </section>
  <section id="tres" class="container">
    <div class="tres">
      <div class="des">
        <h3>¿Qué puedes hacer con tu <span>link de gratitud</span>?</h3>
        <p>
          Comparte tu link de gratitud a tus seguidores, alumnos, pacientes,
          etc. y comienza a recibir testimonios por tu labor, así como
          donaciones en amor. Selecciona los destacados para que se muestren en
          tu perfil.
          <br />
          <br />
          Aumenta la reputación de tu trabajo y acelera el crecimiento de lo que
          más amas hacer.
        </p>
        <div class="btn-crear">
          <button class="btn btn-primary" type="button" routerLink="/register">
            CREAR CUENTA
          </button>
        </div>
      </div>
      <div class="imgsec">
        <img src="../../../assets/section.png" alt="" />
      </div>
    </div>
  </section>
  <section #4 class="container">
    <div class="creadores">
      <h2>Conoce a otros <span>creadores como tú</span></h2>
      <div class="users">
        <div class="cards" *ngFor="let card of usersE">
          <div class="image" [routerLink]="'/' + card.username" style="cursor: pointer;">
            <img [src]="card.imgpro.filePath" style="width: 100%; border-radius: 50%; object-fit: cover; width: 180px; height: 180px;"/>
          </div>
          <h4>{{ card.name }}</h4>
          <p>{{ card.profesion }}</p>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
