<app-bar></app-bar>
<app-pro *ngIf="!pro"></app-pro>
<br/>
<br/>
<div class="container">
  <h1>Mensajes de Cariño</h1>
  <br/>
  <div class="list">
    <div class="messages" *ngFor="let message of messages" (click)="viewMessage(message._id)" style="cursor: pointer">
      <div>
        <span>{{message.id}}</span>
        <h3>{{message.name}}</h3>
      </div>
      <div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="view">
          <i class="bi bi-heart-fill" *ngIf="message.like"></i>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="view">
          <i class="bi bi-eye-fill" *ngIf="message.visible"></i>
        </div>
      </div>
    </div>
  </div>
</div>
