<div class="contenedor ">
    <nav class="bar">
        <div class="img">
            <img src="../../../assets/logo gratitud.png" routerLink="/">
        </div>
    </nav>
    <div class="content-login">
        <div class="form">
            <form [formGroup]="formRegister" >
                <h1>Crea una cuenta con tu <span>URL</span> personalizada <span>gratis</span></h1>
                <div class="test">
                    <label for="url">gratitud.link/</label>
                    <label class="iconCheck"><i class="bi bi-check-circle-fill" style="color: green;" *ngIf="verifyIcon"></i></label>
                    <input class="form-control form-control-lg" type="text" placeholder="Tu nombre" id="url" formControlName="url" #urlUp>
                </div>
                  <p *ngIf="verifyIcon" style="color: gray;">El nombre de usuario si está disponible</p>
                <div class="btn-login">
                    <button class="btn btn-primary" type="submit" [disabled]="!verifyIcon" (click)="signUp()" >CONTINUAR</button>
                </div>
                <p>Ya tienes tu cuenta? <span><a routerLink="/reset">Ingresa aquí</a></span></p>

            </form>
            <div class="footer">
                <hr/>
                <p>Al regístrate aceptas nuestros <a href="">Términos y Condiciones</a> y <a href="">Política de Privacidad</a></p>
                <p>This site is protected by reCAPTCHA and the Google</p>
                <p><a href="">Terms of Service</a> and <a href="">Privacy Policy</a> aply</p>
            </div>
        </div>
    </div>
</div>
