.contenedor{
  width: 100vw;
  height: 100vh;
  background-color: #FCFCFC;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 100%;
  margin-bottom: 20px;
}

.img{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* creator */

.content-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

/* pay metoh */
.payMetodoh div{
  width: 355px;
}

.payMetodoh div h1{
  color: #A07260;
  text-align: start;
  margin-bottom: 50px;
}

.metoh{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.metoh .form-check{
  text-align: start;
  display: flex;
  margin: 0;
  width: 100%;
  gap: 10px;
}

.metoh .form-check:nth-child(1){
  padding-bottom: 5px;
}

.metoh .form-check:nth-child(2){
  padding-top: 5px;
}

.metoh .form-check label, .metoh .form-check label + p{
  color: #000;
  font-size: 20px;
}

/* checks */
.form-check-input:checked{
  background-color: #F36A6A;
  border-color: #F36A6A;
}

.monto{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.monto p, .monto span{
  color: #000;
  font-size: 16px;
}

.buttons-pay{
  width: 355px;
  display: flex;
  flex-direction: column;
}

.buttons-pay .btn{
  background-color: rgb(214, 48, 214);
  border: none;
  margin-bottom: 20px;
}

.buttons-pay p, a{
  color: #000;
  font-size: 14px;
}

.icons{
  color: green;
  font-size: 30px;
}

.span{
  display: flex;
  gap: 10px;
  width: 400px;
  text-align: start;
}

@media (min-width: 1024px){
  .img{
    justify-content: start;
  }

  .payMetodoh div{
    width: 500px;
  }

  .buttons-pay .btn{
    font-size: 25px;
    margin-top: 50px;
  }
}
