<div class="contenedor">
  <nav class="bar">
    <div class="img">
        <img src="../../../assets/logo gratitud.png" routerLink="/">
    </div>
  </nav>
  <div class="content-valid">
    <h1 style="color: #A07260;">¡Tu cuenta ha sido activada!</h1>
    <br/>
    <p>Inicia sesion para continuar con tu cuenta.</p>
    <button type="button" class="btn btn-primary" routerLink="/login">iniciar sesion <img src="../../../assets/arrow1.png" style="transform: rotatey(180deg); margin-left: 10px;"></button>
  </div>
</div>
