<div class="container">
  <div class="content">
    <div class="buttons">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [ngModel]="false"
          id="like"
        />
        <label class="form-check-label" for="like">
          <img src="../../../assets/HEART 2.png" />
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [ngModel]="false"
          id="view"
        />
        <label class="form-check-label" for="view">
          <img src="../../../assets/PALOMA 2.png" />
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="delete" />
        <label class="form-check-label" for="delete">
          <img src="../../../assets/delete.png" />
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="like" (click)="download()" style="cursor: pointer;">
          <img src="../../../assets/descargar2.png" />
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="share" />
        <label class="form-check-label" for="share">
          <img src="../../../assets/compartir.png" />
        </label>
      </div>
    </div>
    <div class="card-creator" id="card">
      <h5>
        Para: <span>{{ user }}</span>
      </h5>
      <div>
        <p>{{ title }}</p>
      </div>
      <img [src]="'../../../assets/default.png'" />
      <div>
        <p>{{ description }}</p>
      </div>
      <h5>{{ name }}</h5>

      <ng-template #t let-fill="fill">
        <i class="bi-heart-fill">
          <i
            *ngIf="fill > 0"
            class="bi-heart-fill filled"
            [style.width.%]="fill"
          ></i>
        </i>
      </ng-template>
      <ngb-rating
        [rate]="3"
        [starTemplate]="t"
        [readonly]="true"
        [max]="5"
      ></ngb-rating>
    </div>
    <br>
    <button type="button" class="btn btn-secondary"><img src="../../../assets/arrow1.png" routerLink="/perfil/messages"></button>
  </div>
</div>
