<app-bar></app-bar>
<app-pro *ngIf="!pro"></app-pro>
<br/>
<br/>
<div class="container">
  <div class="regalos">
    <h3>REGALOS RECIBIDOS</h3>
    <h1 [style]="{'color': colorMoney}">{{money | currency: 'USD'}}</h1>
  </div>
  <div class="retiros">
    <form [formGroup]="formRetiro" class="mb-3" (ngSubmit)="withdraw()">
      <h4>
        Puedes retirar tu saldo, siempre y cuando sea mayor a US$100.00 (Usuarios
        PRO)
      </h4>
      <input
        type="number"
        class="form-control"
        id="money"
        formControlName="retiro"
        placeholder="0"
        required
        [readOnly]="!pro"
      />
      <h4>
        Correo electrónico vinculado a PayPal para recibir
        pagos.
      </h4>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="Ingrese su correo de paypal aqui"
        required
        [readOnly]="!pro"
      />
      <span [style]="{'color': message.color, 'font-size': message.fontSize}">{{message.message}}</span>
      <button type="submit" class="btn btn-primary" [disabled]="!formRetiro.valid || !pro">RETIRAR SALDO</button>
    </form>
  </div>
</div>
