<div class="boletin">
  <button type="button" class="btn btn-primary">
    <img src="../../../assets/arrow1.png" /> BOLETÍN
  </button>
  <div class="content">
    <br>
    <form [formGroup]="formBoletin" (ngSubmit)="sendBoletin()">
      <input
        type="text"
        placeholder="Asunto"
        formControlName="asunto"
        class="form-control"
        required
      />
      <br />
      <textarea
        rows="10"
        type="text"
        placeholder="Mensaje"
        formControlName="mensaje"
        class="form-control"
        required
      ></textarea>
      <br />
      <input
        type="text"
        placeholder="URL"
        formControlName="url"
        class="form-control"
        required
      />
      <br />
      <div style="display: flex; justify-content: end; width: 100%">
        <button type="submit" class="btn btn-secondary" >ENVÍAR</button>
      </div>
    </form>
  </div>
</div>
