<div class="contenedor">
  <nav class="bar">
    <div class="img">
      <img src="../../../assets/logo gratitud.png" routerLink="/" />
    </div>
  </nav>
  <div class="content-form">
    <div class="creator" *ngIf="!giftView && !payView">
      <img
        [src]="infoCreator.imgpro.filePath || '../../../assets/default.png'"
      />
      <h3>{{ infoCreator.name }}</h3>
    </div>
    <div class="text-box" *ngIf="!giftView && !payView">
      <div class="triangle"></div>
      <div id="triangle"></div>
      <div class="text">
        <p>{{ message }}</p>
      </div>
    </div>
    <!-- formulario 1 -->
    <form [formGroup]="formName" *ngIf="nameView">
      <div class="mb-5">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Escribe tu nombre aquí"
          formControlName="name"
          required
        />
      </div>
      <div class="buttons">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!formName.valid"
          (click)="nextTitle()"
        >
          Siguiente <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </form>
    <!-- formulario 2 -->
    <form [formGroup]="formTitle" *ngIf="titleView">
      <div class="mb-5">
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Titulo"
          formControlName="title"
          required
        />
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-primary" (click)="preName()">
          <i class="bi bi-chevron-left"></i> Anterior
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!formTitle.valid"
          (click)="nextMessage()"
        >
          Siguiente <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </form>
    <!-- formulario 3 -->
    <form [formGroup]="formDescription" *ngIf="messageView">
      <div class="mb-5">
        <textarea
          id="description"
          class="form-control"
          rows="3"
          placeholder="Tu mensaje"
          formControlName="description"
          required
        ></textarea>
        <!-- <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Tu mensaje"
          formControlName="description"
          required
        /> -->
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-primary" (click)="preTitle()">
          <i class="bi bi-chevron-left"></i> Anterior
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!formDescription.valid"
          (click)="nextPhoto()"
        >
          Siguiente <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </form>
    <!-- formulario 4 -->
    <div class="photo" *ngIf="photoView">
      <div class="mb-5">
        <input
          type="file"
          id="upload"
          (change)="onFileSelected($event)"
          #fileUpload
        />
        <button
          type="button"
          class="btn btn-secondary"
          (click)="fileUpload.click()"
        >
          <img src="../../../assets/subir.png" />
        </button>
        <button class="btn btn-secondary" type="button">Tomar selfie</button>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-primary" (click)="preMessage()">
          <i class="bi bi-chevron-left"></i> Anterior
        </button>
        <button type="button" class="btn btn-primary" (click)="nextEmail()">
          Siguiente <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
    <!-- formulario 5 -->
    <form [formGroup]="formEmail" id="email" *ngIf="emailView">
      <div class="mb-5">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          formControlName="email"
          required
        />
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckDefault"
            formControlName="terminos"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Acepto haber leído los <span>Términos y Condiciones</span>, así como
            el <span>Aviso de Privacidad.</span>
          </label>
        </div>
        <span class="mt-3" style="color: red;" *ngIf="!formEmail.value.terminos">*Acepte los terminos*</span>
      </div>
      <div class="button-continue">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!formEmail.valid"
          (click)="nextThanks()"
        >
          ENVIAR
        </button>
      </div>
    </form>
    <!-- formulario 6 -->
    <div class="thanks" *ngIf="thanksView">
      <button type="button" class="btn btn-primary" (click)="nextGift()">
        CONTINUAR
      </button>
    </div>
    <!-- formulario 7 -->
    <div class="gift" *ngIf="giftView">
      <div class="description">
        <h3>¿Te gustaría enviarle un regalo en efectivo a Daniela Correa?</h3>
        <br />
        <p>
          Imagina lo feliz que será, al recibir un detalle de cariño y gratitud
          como este. Seguramente le impulsará a seguir creando más contenido
          maravilloso para personas como tú.
        </p>
      </div>
      <div class="checks">
        <div class="checks-top">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="donations"
              id="check5usd"
              checked
            />
            <label class="form-check-label" for="check5usd"> $5.00 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="donations"
              id="check10usd"
            />
            <label class="form-check-label" for="check10usd"> $10.00 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="donations"
              id="check20usd"
            />
            <label class="form-check-label" for="check20usd"> $20.00 </label>
          </div>
        </div>
        <div class="check0">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="donations"
              id="check0usd"
            />
            <label class="form-check-label" for="check0usd"> $0.00 </label>
          </div>
        </div>
        <p>(Moneda $ USD) Será direccionado a una zona segura de pagos</p>
      </div>
      <button type="button" class="btn btn-primary" (click)="nextPay()">
        ¡Sí, Quiero Colaborar!
      </button>
      <div class="regalo">
        <h3>
          En gratitud por tu detalle, podrás descargar un invaluable pack de
          regalos exclusivos, de parte de muchos de los colaboradores de este
          proyecto.
        </h3>
        <img src="../../../assets/PACK SECRETO.png" />
        <p routerLink="/">
          ¡Click aquí, si no deseas colaborar, ni tampoco acceder al Pack de
          Obsequios Exclusivos.
        </p>
      </div>
    </div>
    <!-- formulario 8 -->
    <app-pay-method *ngIf="payView"></app-pay-method>
  </div>
</div>
