p, span, h3, a{
  color: #A07260;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 50px;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box div:nth-child(2){
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #fff;
  margin-top: -3px;
  z-index: 20;
}

.box div:nth-child(3){
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #F36A6A;
  margin-top: -28px;
  margin-bottom: 20px;
  z-index: 1;
}

.contentbox{
  border: 1px solid #F36A6A;
  border-radius: 10px;
  padding: 10px;
}

.contentbox h4{
  color: #F36A6A;
  font-weight: 600;
}

.pro .btn{
  background-color: #F36A6A;
  border-radius: 50px;
  border: 0;
  font-size: 20px;
  padding: 10px 20px;

}

@media screen and (min-width: 1024px) {

  .contentbox{
    padding: 30px 50px;
    max-width: 1000px;
  }

  .contentbox h3, p{
    font-size: 20px;
  }
}
