<div class="container">
  <div class="pro">
    <div class="box">
      <div class="contentbox">
        <h4>BENEFICIOS DE SER PRO</h4>
        <p>Incrementa tu reputación con la posibilidad de publicar testimonios
          de forma ilimitada, y también puedes recibir regalos en efectivo.
          Descarga y postea en tus redes sociales las palabras de cariño de tus fans.
          ¡Cancela cuando quieras!</p>
      </div>
      <div></div>
      <div></div>
    </div>
    <button type="button" class="btn btn-primary">QUIERO SER PRO</button>
  </div>
</div>
