<div class="contenedor">
  <nav class="bar">
    <div class="img">
      <img src="../../../assets/logo gratitud.png" routerLink="/" />
    </div>
  </nav>
  <div class="content-login">
    <div class="form">
      <form [formGroup]="formRegister" (submit)="register()">
        <h1>
          Recuperar contraseña<br>
        </h1>
        <div class="test">
          <input
            class="form-control"
            type="password"
            placeholder="Nueva contraseña"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="test">
          <input
            class="form-control"
            type="password"
            placeholder="Repetir contraseña"
            id="passwordr"
            formControlName="passwordRepeat"
          />
        </div>
        <div class="btn-login" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!formRegister.valid"
          >
            CONTINUAR
          </button>
          <p [style]="{'color': message.color}">{{message.message}}</p>
        </div>
      </form>
      <div class="footer">
        <hr />
        <p>
          Al regístrate aceptas nuestros <a href="">Términos y Condiciones</a> y
          <a href="">Política de Privacidad</a>
        </p>
        <p>This site is protected by reCAPTCHA and the Google</p>
        <p>
          <a href="">Terms of Service</a> and <a href="">Privacy Policy</a> aply
        </p>
      </div>
    </div>
  </div>
</div>
