<div class="requests">
  <div>
    <button type="button" class="btn btn-primary"><img src="../../../assets/arrow1.png"> CREADORES</button>
    <span>
      <label for="search"><i class="bi bi-search-heart"></i></label>
      <input type="text" id="search" class="form-control" placeholder="Buscar por nombre o apellido">
    </span>
  </div>
  <br/>
  <table class="table">
    <tbody>
      <tr *ngFor="let item of creators">
        <th>{{item.id}}</th>
        <th>{{item.name}}</th>
        <th>{{item.email}}</th>
        <th>{{item.createdAt}}</th>
        <th style="color: #F36A6A;">HACER PRO</th>
      </tr>
    </tbody>
  </table>
</div>
