<div class="contenedor">
  <div class="panel">
    <img src="../../../assets/logo gratitud.svg">
    <div class="optiones">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="admin" id="inicio" (click)="inicioView()" checked>
        <label class="form-check-label" for="inicio">
          INICIO
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="admin" id="creadores" (click)="creadoresView()">
        <label class="form-check-label" for="creadores">
          CREADORES
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="admin" id="usuarios" (click)="usuariosView()">
        <label class="form-check-label" for="usuarios">
          USUARIOS
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="admin" id="pros" (click)="prosView()">
        <label class="form-check-label" for="pros">
          PROS
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="admin" id="ajustes" (click)="ajustesView()">
        <label class="form-check-label" for="ajustes">
          AJUSTES
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="admin" id="boletin">
        <label class="form-check-label" for="boletin">
          BOLETÍN
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="admin" id="config">
        <label class="form-check-label" for="config">
          CONFIGURACIÓN
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="admin" id="home">
        <label class="form-check-label" for="home">
          HOME
        </label>
      </div>
      <span>
        SALIR
      </span>
    </div>
  </div>
  <div class="content">
    <app-inicio *ngIf="inicio"></app-inicio>
    <app-creadores *ngIf="creadores"></app-creadores>
    <app-usuarios *ngIf="usuarios"></app-usuarios>
    <app-pros *ngIf="pros"></app-pros>
    <app-ajustes-admin *ngIf="ajustes"></app-ajustes-admin>
  </div>
</div>
