<app-bar></app-bar>
<app-pro *ngIf="!pro"></app-pro>
<div class="contenedor">
  <div class="content-login">
    <div class="form">
      <form [formGroup]="formAjuste" (ngSubmit)="updatePassword()">
        <h1>
          AJUSTES
        </h1>
        <h2>{{email}}</h2>
        <h3>CAMBIAR CONTRASEÑA</h3>
        <div class="test">
          <input
            class="form-control"
            type="password"
            placeholder="Contraseña actual"
            id="passwordA"
            formControlName="passwordA"
          />
        </div>
        <div class="test">
          <input
            class="form-control"
            type="password"
            placeholder="Nueva contraseña"
            id="passwordN"
            formControlName="passwordN"
          />
        </div>
        <div class="test">
          <input
            class="form-control"
            type="password"
            placeholder="Repetir contraseña"
            id="repeatPassword"
            formControlName="repeatPassword"
          />
        </div>
        <span [ngStyle]="{'color': message.color}">{{message.message}}</span>
        <div class="btn-login">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!formAjuste.valid"
            (click)="verifyView()"
          >
          GUARDAR
          </button>
        </div>
      </form>
      <div class="footer">
        <span style="cursor: pointer;" (click)="recovery()">
          <p>RECUPERAR CONTRASEÑA</p>
          <p>Enviar contraseña a mi correo</p>
        </span>
        <span [ngStyle]="{'color': messagePass.color}">{{messagePass.message}}</span>
        <br/>
        <button class="btn btn-primary" type="button">ENVIAR</button>
        <br/>
        <br/>
        <span>
          <p style="color:#F36A6A">La version pro vence: {{fecha | date }}</p>
        </span>
        <span (click)="cancelar()">
          <p class="mb-5" *ngIf="pro && !cancelado" style="cursor: pointer;">CANCELAR CUENTA PRO</p>
        </span>
      </div>
    </div>
  </div>
</div>
