<div class="contenedor">
  <nav class="bar">
    <div class="img">
      <img src="../../../assets/logo gratitud.png" routerLink="/" style="cursor: pointer;" />
    </div>
  </nav>
  <div class="content-form">
    <div class="payMetodoh">
      <div>
        <h1>Método de pago</h1>
        <div class="metoh">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="payM"
              id="creditCard"
            />
            <label class="form-check-label" for="creditCard">
              <img src="../../../assets/tarjeta.png"> Tarjeta de crédito o débito
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="payM"
              id="check10usd"
            />
            <label class="form-check-label" for="check10usd">
              <img src="../../../assets/Grupo 199.png">
            </label>
          </div>
        </div>
        <div class="monto">
          <p>Contribución:</p>
          <span>US$ 10.00</span>
        </div>
        <div class="buttons-pay">
          <button type="button" class="btn btn-secondary">CONTINUAR</button>
          <p>Al continuar, estás aceptando los <a routerLink="/terminos-y-condiciones">Términos y condiciones</a> de
            gratitud.link PRO y confirmas que leíste nuestra <a routerLink="/aviso-privacidad">Política de privacidad</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
