<div class="contenedor">
  <nav class="bar">
    <div class="img">
      <img src="../../../assets/logo gratitud.png" alt="" />
    </div>
  </nav>
  <div class="content-login">
    <h1 class="mb-4">Recuperar Contraseña</h1>
    <div class="form">
      <form [formGroup]="formReset">
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingEmail"
            type="email"
            placeholder="name@example.com"
            formControlName="email"
            required
          />
          <label for="floatingEmail">Email</label>
        </div>
        <p>
          Volver a. <span><a routerLink="/login">Login</a></span>
        </p>
        <div class="btn-login">
          <button class="btn btn-primary">CONTINUAR</button>
        </div>
        <p>
          Aún no tengo una cuenta.
          <span><a routerLink="/register">Crear cuenta aquí</a></span>
        </p>
        <div class="btn-back">
          <button type="button" routerLink="">
            <img src="../../../assets/arrow1.png" />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
