<footer>
  <div class="contenedor">
    <p>Necesitas ayuda? <a href="">hola@gratitud.link</a></p>
    <hr />
    <ul>
      <li>
        <a href="/">Inicio</a>
        <a href="">Blog</a>
        <a href="/acerca-de">Acerca</a>
        <a href="">Contacto</a>
      </li>
    </ul>
    <div class="btn-users">
      <button class="btn btn-primary" type="button" routerLink="/login">INGRESAR</button>
      <button class="btn btn-primary" type="button" routerLink="/register">CREAR CUENTA</button>
    </div>
    <div class="logo-footer">
      <img src="../../../assets/LOGO BLACK.png" alt="" />
    </div>
    <p class="sub">
      Gratitud.link es una marca registrada, nombre y diseño protegido por los
      derechos de autor.
    </p>
    <br/>
    <hr />
    <div class="terminos">
      <ul>
        <li>
          <a href="/terminos-y-condiciones">Términos y Condiciones</a>
          <a href="/aviso-privacidad">Aviso de Privacidad</a>
          <a href="">Centro de Ayuda</a>
        </li>
      </ul>
    </div>
    <div class="cookies">
      <h4>Esta página web usa cookies</h4>
      <br/>
      <p>
        Esta web utiliza cookies propias y de terceros para su correcto
        funcionamiento y para fines analíticos. Por favor lea el Aviso de
        Privacidad si desea más información acerca del tratamiento de sus datos,
        el uso de tecnologías y el procesamiento de los datos. Al usar este
        sitio web, damos por asentado que ha leído y esta de acuerdo con los
        Términos y Condiciones y Aviso de Privacidad, si tiene dudas puede
        contactarnos a través del email: hola@gratitud.link
      </p>
    </div>
  </div>
</footer>
