<app-bar></app-bar>
<div class="container">
  <div class="regalos">
    <h3>REGALOS RECIBIDOS</h3>
    <span>$0.00</span>
  </div>
  <div class="img">
    <img src="../../../assets/default.png">
  </div>
  <div class="options">
    <p>gratitud.link/<span>danielacorrea</span> <i class="bi bi-clipboard"></i></p>
    <ul>
      <li>
        <a href="">EDITAR BIO</a>
        <a href="">MENSAJES DE CARIÑO</a>
        <a href="">REGALOS RECIBIDOS</a>
        <a href="">CARGAR REGALO</a>
        <a href="">AJUSTES</a>
      </li>
    </ul>
  </div>
  <div class="pro">
    <div class="box">
      <div class="contentbox">
        <h4>BENEFICIOS DE SER PRO</h4>
        <p>Incrementa tu reputación con la posibilidad de publicar testimonios
          de forma ilimitada, y también puedes recibir regalos en efectivo.
          Descarga y postea en tus redes sociales las palabras de cariño de tus fans.
          ¡Cancela cuando quieras!</p>
      </div>
      <div></div>
      <div></div>
    </div>
    <button type="button" class="btn btn-primary">QUIERO SER PRO</button>
  </div>
  <div class="options-secundary">
    <ul>
      <li>
        <a href="">REGLAS DE USO</a>
        <a href="">AVISO DE PRIVACIDAD</a>
        <a href="">AYUDA</a>
        <a href="">CERRAR SESIÓN</a>
      </li>
    </ul>
  </div>
</div>
