/*  *------- */
p, span, h3, a{
  color: #A07260;
}

ul, li, a{
  text-decoration: none;
  list-style: none;
  font-size: 25px;
}

/* *_____________ */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 50px;
}

.regalos h3{
  font-size: calc(1.5rem + .6vw);
}

.regalos span{
  font-size: calc(2.5rem + .6vw);
  color: #CBCBCB;
  font-weight: 600;
}

.img {
  width: 180px;
}

.img img{
  width: 100%;
}

.options p{
  font-weight: 700 !important;
  font-size: 20px;
}

.options p span{
  font-weight: 400;
}

.options p i{
  color: #F36A6A;
  margin-left: 10px;
  cursor: pointer;
}

.options ul li{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
  margin: 20px 0 100px 0;
}

ul{
  padding: 0;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box div:nth-child(2){
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #fff;
  margin-top: -3px;
  z-index: 20;
}

.box div:nth-child(3){
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #F36A6A;
  margin-top: -28px;
  margin-bottom: 20px;
  z-index: 1;
}

.contentbox{
  border: 1px solid #F36A6A;
  border-radius: 10px;
  padding: 10px;
}

.contentbox h4{
  color: #F36A6A;
  font-weight: 600;
}

.pro .btn{
  background-color: #F36A6A;
  border-radius: 50px;
  border: 0;
  font-size: 20px;
  padding: 10px 20px;

}

.options-secundary ul li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.options-secundary ul li a{
  font-size: 16px;
  color: #CBCBCB;
}

@media screen and (min-width: 1024px) {
  .options-secundary ul li{
    flex-direction: row;
  }

  .options-secundary ul li a{
    font-size: 20px;
  }

  .contentbox{
    padding: 30px 50px;
    max-width: 1000px;
  }

  .contentbox h3, p{
    font-size: 20px;
  }
}
