<app-bar></app-bar>
<div class="container">
  <div class="regalos">
    <h3>REGALOS RECIBIDOS</h3>
    <span [style]="{'color': colorMoney}" >{{money | currency: 'USD'}}</span>
  </div>
  <div class="img">
    <img [src]="ImageCreator || '../../../assets/default.png'" />
  </div>
  <div class="pro-icon" *ngIf="pro">
    <img src="../../../assets/PRO.png" />
    <h5>PRO</h5>
  </div>
  <div class="options">
    <div #container>
      <p id="copyy">
        gratitud.link/<span>{{infoCreator}}</span>
        <button
          ngxClipboard
          [cbContent]="'http://localhost:4200/' + infoCreator"
          [container]="container"
          style="border: 0;
          background-color: transparent;
          "
        >
          <i class="bi bi-clipboard"></i>
        </button>
      </p>
    </div>
    <ul>
      <li>
        <a routerLink="editar">EDITAR BIO</a>
        <a routerLink="messages">MENSAJES DE CARIÑO</a>
        <a routerLink="regalos-recibidos">REGALOS RECIBIDOS</a>
        <a routerLink="cargar-regalos">CARGAR REGALO</a>
        <a routerLink="ajustes">AJUSTES</a>
      </li>
    </ul>
  </div>
  <div class="pro" *ngIf="!pro">
    <div class="box">
      <div class="contentbox">
        <h4>BENEFICIOS DE SER PRO</h4>
        <p>
          Incrementa tu reputación con la posibilidad de publicar testimonios de
          forma ilimitada, y también puedes recibir regalos en efectivo.
          Descarga y postea en tus redes sociales las palabras de cariño de tus
          fans. ¡Cancela cuando quieras!
        </p>
      </div>
      <div></div>
      <div></div>
    </div>
    <button type="button" class="btn btn-primary" routerLink="/perfil/pro">QUIERO SER PRO</button>
  </div>
  <div class="options-secundary">
    <ul>
      <li>
        <a href="">REGLAS DE USO</a>
        <a href="aviso-privacidad">AVISO DE PRIVACIDAD</a>
        <a href="">AYUDA</a>
        <a (click)="salir()">CERRAR SESIÓN</a>
      </li>
    </ul>
  </div>
</div>
