.statistics{
  display: flex;
  flex-direction: column;
}

.statistics span{
  display: flex;
  justify-content: space-between;
  color: #A07260;
}

hr{
  color: #A07260;
}

.statistics hr:nth-child(10){
  opacity: 1;
}

h1{
  color: #F36A6A;
}

th{
  font-size: 23px;
  font-weight: 400;
  border-bottom: .5px solid #A07260;
  color: rgb(87, 87, 87);
  padding: 15px 8px;
}

