<div class="contenedor">
<div class="statistics">
  <span>
    <h3>CREADORES</h3>
    <h3>{{infoPanel.creators}}</h3>
  </span>
  <hr/>
  <span>
    <h3>USUARIOS</h3>
    <h3>{{infoPanel.users}}</h3>
  </span>
  <hr/>
  <span>
    <h3>PROS</h3>
    <h3>{{infoPanel.pros}}</h3>
  </span>
  <hr/>
  <span>
    <h3>DONACIONES</h3>
    <h3>{{0 | currency}}</h3>
  </span>
  <br/>
  <br/>
  <hr/>
</div>
<br/>
<div class="requests">
  <h1>SOLICITUDES DE RETIRO</h1>
  <br/>
  <table class="table">
    <tbody>
      <tr *ngFor="let column of request">
        <th>{{column.id}}</th>
        <th>{{column.name}}</th>
        <th>{{column.email}}</th>
        <th>{{column.createdAt}}</th>
        <th style="color: #F36A6A;">{{column.monto | currency}}</th>
      </tr>
    </tbody>
  </table>
</div>
</div>
