<div class="contenedor">
  <nav class="bar">
    <div class="img">
      <img src="../../../assets/logo gratitud.png" routerLink="/" />
    </div>
  </nav>
  <div class="content-login">
    <div class="form">
      <form [formGroup]="formLogin" (ngSubmit)="login()">
        <h1>Ingresar</h1>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingEmail"
            type="email"
            placeholder="name@example.com"
            formControlName="email"
            required
          />
          <label for="floatingEmail">Email</label>
        </div>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingEmail"
            type="password"
            placeholder="name@example.com"
            formControlName="password"
            required
          />
          <label for="floatingEmail">Contraseña</label>
        </div>
        <p>
          olvidé mi contraseña.
          <span><a routerLink="/reset">Recuperar aquí</a></span>
        </p>
        <!-- BTN LOGIN ** --------------------------- ** -->
        <div class="btn-login">
          <button class="btn btn-primary" type="submit" [disabled]="!formLogin.valid">CONTINUAR</button>
        </div>
        <span [style]="{'color': messageError.color}">{{messageError.message}}</span>
        <p>
          Aún no tengo una cuenta.
          <span><a routerLink="/register">Crear cuenta aquí</a></span>
        </p>
        <div class="btn-back">
          <button type="button" routerLink="">
            <img src="../../../assets/arrow1.png" />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
